@font-face {
    font-family: 'OldSport2';
    src: local('OldSport2'), url(./Font/OldSport02AthleticNcv-E0gj.ttf) format('truetype');
}
#header {
    padding: 5px;
    text-align: center;
    font-family: OldSport2, Arial, Helvetica, sans-serif;
}
#navigation {
    background-color: #a8a7ae;
}
#navigation a {
    color: #000000;
    font-family: OldSport2, Arial, Helvetica, sans-serif;
}
.progress {
    height: 50px;
}
.tracker, .titles {
    font-family: OldSport2, Arial, Helvetica, sans-serif;
}
#infoForm {
    border: #a8a7ae solid 3px;
    padding: 10px;
}

